.listView {
  font-size: 35px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .label {
    width: 200px;
    text-align: left;
    padding-left: 50px;
  }
  .content {
    text-decoration: underline;
  }
}
.tabTop {
  margin-top: 100px;
}
